<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1"
        src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">我是一个<span id="js-rotating">爱睡觉</span>的程序员</h4>
  </div>
  <div class="cut-line center-align">
    ---------------------------------------------------------------------------------------------------</div>
  <div class="user-content">
    <p>Default Content</p>
  </div>
</div>